<!-- Global navigation menu for the W3C site, for use with the
     https://www.w3.org/StyleSheets/w3c-2023.css style sheet (and the
     https://www.w3.org/2019/09/TPAC-template/menubar.js script for
     somewhat smoother operation).

     This menu is derived from, and meant to be synchronized with, the
     menu on the home page

     Include the markup below at the top of a page that uses the
     w3c-2023.css style sheet.

     Created during Geek Week 2023 (23-27 October) by Bert Bos <bert@w3.org>
     Last modified: $Date: 2023/11/17 15:17:50 $ by $Author: bbos $
-->

<!-- https://www.w3.org/2023/10/geek-week-style-project/top-menu-abs.html -->
<script src="https://www.w3.org/2019/09/TPAC-template/menubar.js"
	async=""></script>

<nav id="lang-nav" aria-label="Language options" lang="en" dir="ltr">
  <a href="https://www.w3.org/ja/" hreflang="ja" lang="ja"
     >日本語ホームページ<span class="visuallyhidden" lang="en"
     > Japanese website</span></a>
  <a href="https://www.w3.org/zh-hans/" hreflang="zh-hans" lang="zh-hans"
     >简体中文首页<span class="visuallyhidden" lang="en"
     > Chinese website</span></a><br/>
</nav>

<nav id="global-nav" aria-label="Main" lang="en" dir="ltr">
  <a href="https://www.w3.org/" ><img alt="W3C"
    src="https://www.w3.org/assets/logos/w3c/w3c-no-bars.svg" /></a><br/>
  <details>
    <summary>Standards</summary>
    <ul>
      <li><a href="https://www.w3.org/standards/" >Explore web standards</a></li>
      <li><a href="https://www.w3.org/standards/about/" >About W3C web standards</a></li>
      <li><a href="https://www.w3.org/TR/" >W3C standards and drafts</a></li>
      <li><a href="https://www.w3.org/standards/types/" >Types of documents W3C publishes</a></li>
      <li><a href="https://www.w3.org/translations/" >Translations of W3C standards and drafts</a></li>
      <li><a href="https://www.w3.org/standards/review/" >Reviews and public feedback</a></li>
      <li><a href="https://www.w3.org/liaisons/" >Liaisons</a></li>
      <li><a href="https://www.w3.org/get-involved/promote/" >Promote web standards</a></li>
    </ul>
  </details>
  <details>
    <summary>Groups</summary>
    <ul>
      <li><a href="https://www.w3.org/groups/" >About W3C groups</a></li>
      <li><a href="https://www.w3.org/groups/wg/" >Working Groups</a></li>
      <li><a href="https://www.w3.org/groups/ig/" >Interest Groups</a></li>
      <li><a href="https://www.w3.org/groups/cg/" >Community Groups</a></li>
      <li><a href="https://www.w3.org/groups/bg/" >Business Groups</a></li>
      <li><a href="https://www.w3.org/groups/other/tag/" >Technical Architecture Group</a></li>
      <li><a href="https://www.w3.org/invited-experts/" >Invited Experts</a></li>
      <li><a href="https://www.w3.org/guide/" >Participant guidebook</a></li>
      <li><a href="https://www.w3.org/about/positive-work-environment/" >Positive work environment</a></li>
    </ul>
  </details>
  <details>
    <summary>Get involved</summary>
    <ul>
      <li><a href="https://www.w3.org/get-involved/" >Find ways to get involved</a></li>
      <li><a href="https://www.w3.org/ecosystems/" >Business ecosystems</a></li>
      <li><a href="https://www.w3.org/membership/" >Why join W3C</a></li>
      <li><a href="https://www.w3.org/Member/" >Member Home</a></li>
      <li><a href="https://www.w3.org/email/" >Mailing lists</a></li>
      <li><a href="https://www.w3.org/donate/" >Donate</a></li>
      <li><a href="https://www.w3.org/sponsor/" >Sponsoring W3C</a></li>
    </ul>
  </details>
  <details>
    <summary>Resources</summary>
    <ul>
      <li><a href="https://www.w3.org/resources/" >Learn from W3C resources</a></li>
      <li><a href="https://www.w3.org/developers/" >Developers</a></li>
      <li><a href="https://www.w3.org/developers/tools/" >Validators and tools</a></li>
      <li><a href="https://www.w3.org/WAI/fundamentals/" >Accessibility fundamentals</a></li>
      <li><a href="https://www.w3.org/International/i18n-drafts/nav/about" >Internationalization</a></li>
      <li><a href="https://www.w3.org/translations/" >Translations of W3C standards and drafts</a></li>
      <li><a href="https://www.w3.org/Consortium/cepc/" >Code of conduct</a></li>
    </ul>
  </details>
  <details>
    <summary>News and events</summary>
    <ul>
      <li><a href="https://www.w3.org/news-events/" >Follow news and events</a></li>
      <li><a href="https://www.w3.org/news/" >News</a></li>
      <li><a href="https://www.w3.org/blog/" >Blog</a></li>
      <li><a href="https://www.w3.org/press-releases/" >Press releases</a></li>
      <li><a href="https://www.w3.org/about/press-media/" >Press and media</a></li>
      <li><a href="https://www.w3.org/events/" >Events</a></li>
      <li><a href="https://www.w3.org/news-events/w3c-tpac/" >Annual W3C Conference (TPAC)</a></li>
      <li><a href="https://www.w3.org/Consortium/cepc/" >Code of conduct</a></li>
    </ul>
  </details>
  <details>
    <summary>About</summary>
    <ul>
      <li><a href="https://www.w3.org/about/" >Find out more about us</a></li>
      <li><a href="https://www.w3.org/mission/" >Our mission</a></li>
      <li><a href="https://www.w3.org/about/leadership/" >Leadership</a></li>
      <li><a href="https://www.w3.org/staff/" >Staff</a></li>
      <li><a href="https://www.w3.org/evangelists/" >Evangelists</a></li>
      <li><a href="https://www.w3.org/careers/" >Careers</a></li>
      <li><a href="https://www.w3.org/about/diversity/" >Diversity</a></li>
      <li><a href="https://www.w3.org/sponsor/" >Sponsoring W3C</a></li>
      <li><a href="https://www.w3.org/about/press-media/" >Media kit</a></li>
      <li><a href="https://www.w3.org/contact/" >Contact</a></li>
      <li><a href="https://www.w3.org/about/positive-work-environment/" >Positive work environment</a></li>
      <li><a href="https://www.w3.org/policies/" >Policies and legal information</a></li>
      <li><a href="https://www.w3.org/help/" >Help</a></li>
    </ul>
  </details>
  <a href="https://www.w3.org/help/search/"
    ><img src="https://www.w3.org/assets/website-2021/svg/search.svg"
    class="icon can-invert" width="24" height="24" alt="Search" /></a><br/>
  <a href="https://www.w3.org/users/myprofile/" id="account-login-link" >My
    account <img src="https://www.w3.org/assets/website-2021/svg/avatar.svg"
    width="24" height="24" class="icon can-invert" alt="" /></a><br/>
</nav>
